@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: #09244a;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* Header */
header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    padding: 1rem;
    /* background: #ffffff; */
    background: #09244a;
    font-family: 'Lato', sans-serif;
    /* text-transform: uppercase; */
    margin: 1% 0;
}

header img {
    width: 15vw;
    height: 15vw;
    max-width: 120px;
    max-height: 120px;
}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

header li {
    padding: 2vw;
}

header a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #ffffff;
}

nav a:hover {
    display: inline-block;
    transform: scale(1.3);
    color: #f53c53;
} 

.active-page {
    text-decoration: underline #f53c53 3px;
}

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* background: #ff5951; */
    background: #021d42;
    /* background: #f53c53; */
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    /* padding: 1rem; */
    /* font-size: 56px; */
}

main div {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    font-size: 10vh;
}

h1 {
    /* font-size: clamp(8rem, 15vw, 10rem); */
    text-align: center;
    font-size: clamp(4rem, 12vw + 1.6rem, 7.8rem);
    margin: 3vh 0;
}

h2 {
    /* font-size: clamp(5rem, 3vw, 7.5rem); */
    text-align: center;
    /* font-size: 14vh; */
    font-size: clamp(4rem, 8.6vw + 1.2rem, 6.2rem);
    margin: 3vh 0;
}

h3 {
    /* font-size: clamp(4rem, 1vw, 6rem); */
    text-align: center;
    font-size: clamp(4rem, 5.4vw + 0.8rem, 5rem);
    margin: 3vh 0;
}

em {
    font-style: normal;
    color: #f53c53;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: #021d42;
    padding: 2rem;
}

.profile-pic-container {
    display: flex;
    justify-content: center;
    background: #122649;
    padding: 2rem;
    margin: 1rem 0 0;
}

.profile-pic {
    border-radius: 50%;
    border: 3px solid #f53c53;
    min-width: 300px;
}

/* Social Links */

.profile-social-container {
    display: flex;
    flex-direction: column;
    background: #122649;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    padding: 1rem;
}

/* Font Awesome icons */
.fa-brands {
    font-family: "Font Awesome 6 Brands";
    font-size: 3.5rem;
    color: #ffffff;
}

.fa-brands:hover {
    animation: shake 1s;
    animation-iteration-count: infinite; 
}

.fa-linkedin:hover {
    color: #0077b5;
}

.fa-github:hover {
    color: #2da44e;
}

.fa-instagram:hover {
    color: #7a23ba;
}

.fa-twitter:hover {
    color: #1d9bf0;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #ffffff; */
    background: #09244a;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

footer p {
    padding: 2rem;
    color: #ffffff;
}
/* About Page */
.page-title-text {
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    text-transform: none;
}
.page-subtitle-text {
    font-size: clamp(2.5rem, 3.9vw + 0.9rem, 3.2rem);
    text-align: center;
}
.about-container {
    /* margin: 1rem 3rem; */
    /* padding: 1.5rem; */
    text-transform: none;
}
.about-container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.about-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-container div {
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.profile-pic-about {
    border-radius: 50%;
    border: 3px solid #f53c53;
    min-width: 300px;
    margin: 2rem;
}
.about-container p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}
.about-container .profile-pic-container {
    
    background: #021d42;
}

/* Contact Page */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-transform: none;
}

.page-title-text {
    font-size: clamp(4.5rem, 4.9vw + 1.3rem, 5.2rem);
}

 .contact-container p {
    font-size: clamp(1.1rem, 3vw + 0.3rem, 1.6rem);
    padding: 1rem;
}


/* Projects Page */
.project-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #021d42;
    text-transform: none;
}

.project-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background: #021d42;
    text-transform: none;
}
.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 1.8rem;
    margin: 1rem;
    background: #122649;
    overflow: auto;
}
.project-card h2{
    text-align: center;
    font-size: clamp(2.5rem, 3.9vw + 0.9rem, 3.2rem);
    margin: auto 0 0.8rem;
}
.project-card img {
    max-width: 100%;
}
.project-card p {
    font-size: 1.1rem;
    text-align: left;
    padding: 1rem 0;
}
.project-card a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f53c53;
    text-align: left;
    padding: 1rem;
}
.project-card a:hover {
    font-weight: bold;
}
/* Blog Main Page */

.blog-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-evenly;
    background: #021d42;
    text-transform: none;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem ;
    border: 0.2rem solid #122649;
    margin: 0.8rem;
    background: #122649;
    /* min-height: 417px; */
}

.blog-card a {
    text-decoration: none;
    color: #ffffff;

}
.blog-card div {
    object-fit: contain;
}
.blog-card h2 {
    font-size: 2rem;
    text-align: center;
}
.blog-card p {
    font-size: 1.1rem;
    text-align: center;

}

.blog-card:hover {
    transform: scale(1.02);
    border-color:#f53c53;
}

/* Tablet Sizing */
@media screen and (min-width: 610px) and (max-width: 1099px) {
    header {
        flex-direction: row;
        padding: auto 2rem;
    }
    nav ul {
        flex-direction: row;
    }
    .profile-pic-container img {
        width: 35%;
    }
    /* Projects Page */
    .project-card-container {
        flex-direction: row;
    }
    .project-card {
        width: 40vw
    }
    .blog-card {
        width: 44vw;
        height: 30%;
    }
}

/* Desktop Sizing */
@media screen and (min-width: 1100px) {
    header {
        flex-direction: row;
        padding: auto 2rem;
        height: 20%;
    }
    nav ul {
        flex-direction: row;
    }
    main {
        
    }
    .main-index-container {
        flex-flow: row ;
        /* padding: 0; */
        /* height: 70%; */
        min-height: 70vh;
        padding: 0;
    }
    .main-text-container {
        width: 50vw;
    }
    h1, h2, h3 {
        text-align: right;
    }
    .profile-pic-container {
        width: 50vw;
        margin: 7vh 0 0;
    }
    .profile-pic-container img {
        width: 24rem
    }
    .social-media img {
        width: 3vw;
    }
    footer {
        height: 10%;
    }
    /* About Page */
    .about-container {
        flex-direction: row;
    }
    .about-container article {
        padding-right: 7vw;
    }
    /* Projects Page */
    .project-card-container {
        flex-direction: row;
    }
    .project-card {
        width: 30vw
    }
    /* Blogs Page */
    .blog-card {
        width: 30%;
    }

}
