@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

header img {
    width: 15vw;
    height: 15vw;
    max-width: 120px;
    max-height: 120px;
}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
}

header li {
    padding: 2vw;
}

header a {
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
}

nav a:hover {
    border-radius: 50%;
    background: #66DE93;
} 

/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ff5951;
    color: #1c1b20;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

main div {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: clamp(6rem, 15vw, 10rem);
}

h2 {
    font-size: clamp(3rem, 3vw, 6rem);
}

h3 {
    font-size: clamp(2rem, 1vw, 4rem);
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background: #ff5951;
    padding: 2rem;
}

.profile-pic-container {
    width: 100%;
    background-color: #ffffff;
    padding: 2rem;
}

main div img {
    border-radius: 50%;
    border: 2px solid #66DE93;
}

/* Social Links */
/* .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 2rem;
    background: #ff5951;
} */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #ff5951;
}

section div div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-media a {
    padding: 1rem;
}

.social-media img {
    width: 10vw;
}

footer {
    text-align: center;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

/* Tablet Sizing */
@media screen and (min-width: 610px) and (max-width: 899px) {
    header {
        flex-direction: row;
        padding: auto 2rem;
    }

    nav ul {
        flex-direction: row;
    }
}

/* Desktop Sizing */
@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        padding: auto 2rem;
    }

    nav ul {
        flex-direction: row;
    }

    .social-media img {
        width: 3vw;
    }
}